body {
  font-family: Inter, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography */

.large-title {
  @apply text-4xl;
  @apply font-semibold;
  @apply tracking-tight;
  @apply leading-tight;
}
