{% extends 'layouts/page.twig' %}

{% block body %}
    <div class="container pt-8">
        <h1 class="large-title mb-4">Edit Note</h1>

        {{ include('notes/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('notes/_delete_form.html.twig') }}

        <a class="btn btn-outline mt-4" href="{{ path('notes_index') }}">Back to the list</a>
    </div>
{% endblock %}
