{% extends 'layouts/page.twig' %}

{% block body %}
    <div class="container pt-8">
        <h1 class="large-title mb-4">Add new note</h1>

        {{ include('notes/_form.html.twig') }}

        <a class="btn btn-outline mt-2"
           href="{{ path('notes_index') }}">
            Back to the list
        </a>
    </div>
{% endblock %}
