<header>
    {% if app.user %}
        <div class="mb-3">
            You are logged in as
            {{ app.user.email }},
            <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        Login
    {% endif %}
</header>
