{% extends 'layouts/page.twig' %}

{% block body %}
    <div class="container pt-8">
        <h1 class="mb-4 large-title">
            Account
        </h1>

        <div>
            <div class="p-6 border border-gray-200 rounded">
                <div class="text-xl font-semibold tracking-tight">Your Password</div>

                <input type="text" class="form-control">
            </div>
        </div>
    </div>
{% endblock %}
