{% extends 'layouts/page.twig' %}

{% block body %}
    <div class="container pt-8">
        <h1 class="large-title font-bold mb-4">
            Welcome {{ app.user.firstName }}
        </h1>
    </div>
{% endblock %}
