{% extends 'layouts/page.twig' %}

{% block body %}
    <div class="container pt-8">
        <h1 class="mb-4 text-4xl font-semibold tracking-tight leading-tight">Notes</h1>

        {% if notes %}
            <div>
                {% for note in notes %}
                    <div class="flex mb-2 border-b pb-3">
                        <div class="flex-grow">
                            <div>{{ note.subject }}</div>
                            <div class="text-xs text-gray-600">
                                {{ note.date | date('D j M', timezone="Europe/Paris") }}
                            </div>
                        </div>
                        <div>{{ note.value }}</div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            No notes for now.
        {% endif %}
        

    </div>
{% endblock %}